<%= form_for event do |f| %>
  <div>
    <%= f.label :タイトル %>
    <%= f.text_field :title, value: @copy&.title %>

    <%= f.label :概要 %>
    <%= f.text_field :description, value: @copy&.description %>
  </div>
  <div>
    <%= f.fields_for :tickets do |tf| %>
      <%= tf.label :チケット名 %>
      <%= tf.text_field :name %>

      <%= tf.label :参加費 %>
      <%= tf.number_field :price %>

      <%= tf.label :枚数 %>
      <%= tf.number_field :capacity %>
    <% end %>
  </div>
  <div>
    <%= f.label :参加者リストを公開する %>
    <%= f.check_box :participant_public_flg %> (※イベントページに参加者リストを表示する場合にはチェックしてください。)
  </div>

  <%= f.submit '投稿' %>
<% end %>
