<%= form_for event do |f| %>
  <h3>イベントについて</h3>
  <div>
    <%= f.label :タイトル %>
    <%= f.text_field :title, value: @copy&.title %>

    <%= f.label :概要 %>
    <%= f.text_field :description, value: @copy&.description %>
  </div>
  <h3>チケット</h3>
  <div>
    <%= f.fields_for :tickets do |tf| %>
      <%= render 'tickets_form', tf: tf %>
      <%=  %>
    <% end %>
  </div>
  <h3>イベントを作成する</h3>
  <%= f.submit '作成！！' %>
<% end %>
