<h3>イベント情報</h3>
<% if user_signed_in? %>
  <p>あなたはこのイベントの管理者<%= current_user.owner?(@event) ? "です" : "ではありません" %></p>
<% end %>
<ul>
  <li>イベント名：<%= @event.title %></li>
  <li>概要：<%= @event.description %></li>
  <li>チケット名：<%= @event.tickets.first.name %></li>
  <li>参加費：<%= "#{@event.tickets.first.price}円" %></li>
  <li>定員：<%= "#{@event.tickets.first.capacity}人" %></li>
</ul>

<% if user_signed_in? %>
  <% if current_user.participated?(@event) %>
    <%= form_for(current_user.participants.find_by(event_id: @event.id), html: { method: :delete }) do |f| %>
      <%= f.submit "参加をキャンセルする" %>
    <% end %>
  <% else %>
    <%= form_for(current_user.participants.build(event_id: @event.id, ticket_id: @event.tickets.first.id)) do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.hidden_field :ticket_id %>
      <%= f.submit "参加する" %>
    <% end %>
  <% end %>
<% end %>

<h3>イベント主催者</h3>
<p><%= @event.owners.first.name %></p>

<h3>参加者一覧</h3>
<% if @event.participant_public_flg? %>
  <% if @event.participants.present? %>
    <table>
      <% @event.participants.each do |participant| %>
        <% unless participant.kicked_out_at %>
          <tr>
            <td><%= "#{participant.user.name} (ID:#{participant.user.id})" %></td>
            <% if user_signed_in? && current_user.owner?(@event) %>
              <td>
                <%= button_to "追い出す", kick_out_participant_path(participant) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% else %>
  <p>このイベントの参加者リストは非公開です。</p>
<% end %>
