<% if user_signed_in? %>
  <p>あなたはこのイベントの管理者<%= current_user.owner?(@event) ? "です" : "ではありません" %></p>
<% end %>
<h3>イベント情報</h3>
<table>
  <tr>
    <td>イベント名</td>
    <td><%= @event.title %></td>
  </tr>
  <tr>
    <td>概要</td>
    <td><%= @event.description %></td>
  </tr>
  <tr>
    <td>内容</td>
    <td><%= @event.content %></td>
  </tr>
  <tr>
    <td>開始時間</td>
    <td><%= @event.start_time %></td>
  </tr>
  <tr>
    <td>終了時間</td>
    <td><%= @event.end_time %></td>
  </tr>
</table>

<% if user_signed_in? %>
  <% if current_user.participated?(@event) %>
    <%= form_for(current_user.participants.find_by(event_id: @event.id), html: { method: :delete }) do |f| %>
      <%= f.submit "参加をキャンセルする" %>
    <% end %>
  <% else %>
    <h3>チケットを選択</h3>
    <%= form_for(current_user.participants.build(event_id: @event.id, ticket_id: @event.tickets.first.id)) do |f| %>
      <ul>
        <% @event.tickets.each_with_index do |ticket, index| %>
          <% checked = index == 0 ? true : false %>
          <li>
            <%= f.radio_button :ticket_id, ticket.id, checked: checked %>
            チケット名：<%= ticket.name %> / 参加費：<%= "#{ticket.price}円" %> / 定員：<%= "#{ticket.capacity}人" %>
          </li>
        <% end %>
      </ul>
      <%= f.hidden_field :event_id %>
      <%= f.hidden_field :ticket_id %>
      <%= f.label :コメント %>
      <%= f.text_field :comment %>
      <br>
      <%= f.submit "参加する" %>
    <% end %>
  <% end %>
<% end %>

<h3>イベント主催者</h3>
<p><%= @event.owners.first.name %></p>

<h3>参加者一覧</h3>
<% if @event.participant_public_flg? %>
  <% if @event.participants.present? %>
    <table>
      <% @event.participants.each do |participant| %>
        <% unless participant.canceled_at? || participant.kicked_out_at? %>
          <tr>
            <td><%= "#{participant.user.name} (コメント:#{participant.comment})" %></td>
            <% if user_signed_in? && current_user.owner?(@event) %>
              <td><%= button_to "追い出す", kick_out_participant_path(participant) %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% else %>
  <p>このイベントの参加者リストは非公開です。</p>
<% end %>
